@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";
@config "../tailwind.config.js";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: #fffaf3;
  color: #25130d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-heading,
.section-heading {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes categoryScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}


.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  font-weight: 700;
  color: #24110a;
  margin-top: 16px;
  margin-bottom: 10px;
}

.prose p {
  margin-bottom: 12px;
  line-height: 1.8;
}

.prose ul,
.prose ol {
  padding-left: 24px;
  margin-bottom: 12px;
}

.prose li {
  margin-bottom: 6px;
}

.prose a {
  color: #155b37;
  text-decoration: underline;
}

.prose strong {
  font-weight: 700;
}